.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: var(--app-height);
  min-height: var(--app-height);
  background-color: #584f50;
  overflow-x: scroll;
  padding: 49px 0;

  .centeredWrapper {
    max-width: 520px;
    min-width: 520px;

    @media screen and (max-width: 768px) {
      min-width: 230px;
    }

    .stepWrapper {
      min-height: 320px;
    }
  }
}
