.homeContainer {
  min-width: 100vw;
  height: var(--app-height);
  min-height: var(--app-height);
  max-height: var(--app-height);
  background-color: #584f50;
  overflow-y: scroll;

  .centeredWrapper {
    margin: 60px 24px;
    max-width: 520px;
    min-width: 520px;

    @media screen and (max-width: 768px) {
      min-width: 230px;
    }

    .stepWrapper {
      min-height: 320px;
    }
  }
}
